.ie8
	.nav
		li
			&.is-marked
				position: relative
				z-index: 2
				background: #fff
				&.is-active
					a
						background: #d3f2f7 
						color: $azure 
				a
					color: $azure 
					&:hover
						color: $azure_h 
	.pace-activity
		display: none
	.benefit
		&:hover
			.benefit__main
				display: block
		&__main
			display: none
			background: $azure 
	.footer 
		&__top
			overflow: hidden
		.tel, 
		.soc
			float: left
		.soc
			margin-left: 50px
		&__logo
			float: right
	.prod
		.prod__previews 
			li
				&:after
					display: none
				&.is-active
					&:after
						display: block
	.search__input
		line-height: 36px
	.input
		line-height: 39px
	.window
		border: 1px solid $border
		&__wrap	
			&:before
				content: ""
				position: absolute
				left: 50%
				margin-left: -13px
				bottom: -14px
				+arr(26,13,$border,b)
	.certificate
		i
			+opacity(.4)
	.item
		.btn-detail
			visibility: hidden
		&__main
			display: none
		&:hover
			.btn-detail
				visibility: visible
				+opacity(.9)
			.item__main
				display: block
	.btn-detail
		background: rgb(59,196,216)
	.promo
		&__main
			+opacity(.8)
	.overlay
		+opacity(.9)
	.popup__close
		&:hover
			+opacity(.7)
	.checkbox,
	.radio
		span
			padding-left: 5px
			&:before,
			&:after
				display: none
		span, input
			position: static
			vertical-align: middle
	.form__overlay
		+opacity(.95)

	.breadcrumbs 
		div 
			ul
				li
					float: left
					width: 50%
					padding-right: 10px