.breadcrumbs
	padding: 15px 0 8px 7px
	font-size: 0
	li
		display: inline-block
		position: relative
		vertical-align: middle 
		&.has-drop-list
			span
				border-bottom-style: dotted 
			&:hover
				a
					color: $text 
				span
					border-bottom-color: transparent 
				ul
					a
						color: $azure
						&:hover
							color: $azure_h
			
		&:hover
			z-index: 5
			a
				color: $azure 
			span 
				border-bottom-color: transparent 
			ul
				opacity: 1
				visibility: visible
	a
		display: inline-block
		position: relative
		padding: 5px 18px 5px 13px 
		font-size: 12px
		color: $text
		line-height: 1.1
		+tr(all .2s)
		&:after
			content: "/"
			position: absolute
			right: 0
			top: 5px
			font-size: 12px
			color: $gray  
		
		span
			display: inline-block
			position: relative
			z-index: 4
			border-bottom: 1px solid 
			+tr(all .2s)
	ul
		position: absolute
		opacity: 0
		visibility: hidden
		top: -9px
		left: -5px
		z-index: 3
		padding: 45px 20px 30px 20px
		width: 500px
		+box
		background: #fff
		+tr(opacity .4s)
		will-change: opacity
		box-shadow: 0 1px 5px rgba(40,66,83,.24)
		li
			float: left
			margin: 0 0 14px 10px
			width: 220px
			+box
			line-height: 2.2
		a
			color: $azure
			padding: 0
			+tr(color .2s)
			text-decoration: none
			&:hover
				text-decoration: none
				color: $azure_h
			&:after
				display: none

.item-row
	float: left
	overflow: hidden
	margin-bottom: -1px
	vertical-align: top
	+clr
	border-top: 1px solid $border
	border-bottom: 1px solid $border
	// &:first-child
	// 	.item
	// 		border-top: 1px solid $border
.item-row_small,
.item-row_smaller,
	margin-bottom: 9px
.item
	float: left
	position: relative
	//margin: 0 0 0 -1px 
	//border-left: 1px solid $border
	border-right: 1px solid $border
	padding: 30px 35px 
	width: 325px
	min-height: 280px
	+box
	font-size: 12px
	background: #fff 
	text-align: center
	+tr(background .4s)
	&:before
		content: ""
		position: absolute
		top: 100%
		right: 0
		left: 0
		z-index: 1
		height: 1000px
		background: #fff
		+tr(background .4s)
	&:after
		content: "" 
		position: absolute
		top: 100%
		right: -1px
		height: 1000px
		width: 1px
		background: $border 
	&:hover
		background: #f3fdff
		&:before
			background: #f3fdff 
		.item__main
			opacity: 1
	&:first-child
		border-left: 0
	&__img
		display: block
		margin: 0 0 22px 
		height: 152px
		overflow: hidden
		text-align: center
		img 
			display: block
			margin: 0 auto 
			//width: 100%
			height: auto 
			max-height: 100%
			max-width: 100%
	&__title 
		color: $azure
		font-size: 14px 
		line-height: 1.7
		&:after
			content: "" 
			position: absolute
			top: 100%
			left: -1px
			height: 1000px
			width: 1px
			background: $border 
	&__main
		position: absolute
		top: 30px 
		bottom: 0
		left: 35px
		right: 35px
		opacity: 0
		+tr(opacity .4s)
		will-change: opacity
	&__in
		position: absolute
		top: 41px
		left: 0
		right: 0
		bottom: 0
		padding-top: 20px
		background: #f3fdff 
		color: $gray
		font-size: 12px
		text-align: center 
		.item__title
			margin-bottom: 13px
	&__list
		li
			padding: 5px 17px
			text-align: left 
			border-top: 1px solid $border 
			color: $text 
	&__descr
		padding: 14px 17px
		text-align: left 
		line-height: 1.7
		border-top: 1px solid #d8e2ea 
		color: $text 
		p
			margin-bottom: 11px
.item_small
	padding: 18px 20px 
	width: 230px	
	min-height: 250px
	&:first-child
		border-left: 1px solid $border	
	.item__img
		margin: 0 0 20px
		height: 143px
	.item__title
		font-size: 12px
		line-height: 1.3
	.btn-detail
		position: absolute 
		top: 18px
		right: 23px
		left: 23px
		width: auto 
		height: 144px
		line-height: 144px
		opacity: 0
		will-change: opacity
		+tr(opacity .4s)
	&:hover
		.btn-detail
			opacity: 1
.item_smaller
	padding: 10px 12px 
	width: 171px
	min-height: 205px
	&:first-child
		border-left: 1px solid $border	
	&:hover
		.btn-detail
			opacity: 1
	.item__title
		font-size: 12px
		line-height: 1.3
	.item__img
		margin-bottom: 5px
		height: 130px
		line-height: 130px
		img
			display: inline-block
			vertical-align: middle
	.item__descr
		font-size: 11px
	.btn-detail
		position: absolute 
		top: 10px
		right: 12px
		left: 12px
		height: 130px
		width: auto
		line-height: 130px
		opacity: 0
		will-change: opacity
		+tr(opacity .4s)
.has-extend
	height: auto
	padding: 0
	&.item_small
		.item__top
			height: 250px
			padding: 18px 20px 
	&.item_smaller
		.item__top
			height: 205px
			padding: 10px 9px 
	.item__top
		position: relative
		+box
.news-wrap
	+clr
	.news
		&:first-child
			margin-left: -25px
.news
	float: left
	padding: 21px 20px 21px 25px 
	width: 250px
	+box
	font-size: 12px
	color: $text
	+reg
	line-height: 1.7 
	background: #fff
	+transition(box-shadow .2s,border .2s)
	border-top: 4px solid #fff
	&:hover
		position: relative
		z-index: 2
		box-shadow: 0 0 20px rgba(9,85,95,.16)
		border-top-color: #61ddef 
		.news__title
			color: $azure_h 
	&__title	
		margin-bottom: 2px
		color: $azure
		font-size: 13px
		+sbold
	&__text
		margin-bottom: 13px
		line-height: 1.8
.site-map
	padding: 36px 83px 80px
	line-height: 2.3
	font-size: 13px
	+clr
	&__in
		float: left
		margin-left: 74px
		width: 365px
		&:nth-child(2)	
			margin-left: 0 
	h2
		margin: 43px 0 22px
	h3
		margin: 22px 0 12px
		font-size: 16px
		font-weight: normal
	h1,h2,h3,h4,h5,h6
		a 
			color: $text
			&:hover
				color: $azure_h
	 
	ul
		margin-bottom: 27px
		ul
			margin-bottom: 13px
			padding-left: 20px
			font-size: 12px
			line-height: 2.16
	a
		color: $azure
		text-decoration: underline
		+transition(color .2s)
		&:hover
			color: $azure_h 
			text-decoration: none

.sitemap
	float: left
	width: 50%
	+box
	margin: 0 
	line-height: 2.3
	padding: 40px 40px 40px 80px 
	a
		color: $azure
		text-decoration: underline
		+transition(color .2s)
		&:hover
			color: $azure_h 
			text-decoration: none
	ul
		padding-left: 0
	.level-1
		margin-top: 10px
		> li 
			margin: 54px 0 24px
			> a
				display: inline-block
				color: $text
				+sbold
				font-size: 20px
				line-height: 1.2
				&:hover
					color: $azure_h
	.level-2
		margin: 24px 0 10px
		> li 
			margin: 12px 0
			> a
				font-size: 16px
				display: inline-block
				color: $text
				font-size: 16px
				line-height: 1.2
				&:hover
					color: $azure_h
	.level-3
		margin: 15px 0 33px
	.level-4
		margin-bottom: 13px
		padding-left: 20px
		font-size: 12px
		line-height: 2.2

.post-wrap
	padding: 0 67px 
	font-size: 0		
.post
	display: inline-block
	position: relative
	margin: 0 0 33px 
	font-size: 12px
	color: $text 
	vertical-align: top
	padding: 15px 
	width: 250px
	line-height: 22px
	background: #fff 
	+tr(background .4s)
	&:hover
		background: $blue 
		.btn-detail
			+opacity(.9)
	&__img
		margin-bottom: 17px
		height: 145px
		line-height: 145px
		overflow: hidden
		text-align: center
		img
			max-width: 100%
			height: auto
			max-height: 100%
			vertical-align: middle
	&__title
		font-size: 13px
		+sbold
		color: $azure 
	.btn-detail
		position: absolute
		top: 15px
		right: 15px
		left: 15px
		width: auto
		height: 145px
		line-height: 145px
		+opacity(0)
		will-change: opacity
		+tr(opacity .4s)

.form
	position: relative
	&__overlay
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 4
		visibility: hidden
		opacity: 0
		background: rgba(#fff,.95)  
	&.has-open-message	
		.form__message
			visibility: visible
			opacity: 1
		.form__overlay
			opacity: 1 
			visibility: visible
	h2
		margin: 46px 0 24px
	&__message
		position: absolute
		z-index: 5
		top: 0
		left: 0
		width: 390px
		visibility: hidden
		opacity: 0
		will-change: opacity
		.icon-done
			display: block
			margin: 7px auto 
		
.search
	position: relative
	margin: 44px 0 0
	width: 234px
	&__input
		display: block
		border: 1px solid #e0e0e0
		padding: 0 0 0 38px 
		width: 100%
		height: 36px
		+box
		border-radius: 4px 
		background: #fff 
		background: rgba(#fff,.5)
		+reg
		+transition(border .4s, background .4s)
		color: $text 
		font-size: 12px
		+placeholder
			color: #cecece 
		&:focus
			border-color: $azure 
			background: rgba(#fff,1)
			+ button
				&:before
					opacity: 0
				&:after
					opacity: 1
	&__btn
		position: absolute
		top: 0
		left: 0
		height: 36px
		width: 36px
		background: none
		overflow: visible
		&:before,
		&:after
			content: ""
			position: absolute
			top: 12px
			left: 13px 
			+tr(opacity .4s)
		&:before
			+s(glass-gray)
			opacity: 1
		&:after
			z-index: 2
			+s(glass)
			opacity: 0
	&__main
		float: left
		width: 702px
	&__text
		clear: both
		padding-top: 8px
		strong
			font-weight: normal
			+bold
		.link-back 
			margin: 82px 0 0
.search_width
	margin: 9px 0 38px
	width: 100% 
	+clr
	.btn
		float: right 
		padding: 13px 0
		text-align: center 
		width: 103px
	.search__input
		padding: 0 15px 
.clause
	position: relative
	margin-bottom: 30px
	border-bottom: 1px solid $border
	padding: 0 0 17px 17px
	font-size: 12px
	&__counter
		position: absolute
		left: 0
		top: 2px
	&__title
		font-size: 13px
		+sbold
		color: $azure
		+tr(color .2s)
		&:hover
			color: $azure_h 
	.category
		margin-top: 8px
		
	strong
		font-weight: normal
		+bold
		
// verstalo naverstalo
.links
	min-height: 60px
	margin-bottom: 30px
	border: 1px solid #d8e2ea
	border-width: 1px 0 
	&.is-fixed
		.links__wrap
			position: fixed
			top: 0
			left: 0
			right: 0
			z-index: 999
			background: #FFF 
			box-shadow: 0 2px 5px rgba(0,1,1,.2)
		.links__list
			li
				&:first-child
					padding-left: 20px
			a
				&.is-active
					color: $text
					&:before
						display: block
		.links__order
			display: block
	.links__wrap
		+clr
	.links__list
		display: table
		font-size: 0
		li
			display: table-cell
			padding-left: 20px
			font-size: 13px
			&:first-child
				padding-left: 5px
		a
			position: relative
			display: block
			padding: 17px 0
			color: $azure 
			&:before
				content: ""
				position: absolute
				top: 0
				left: 0
				right: 0
				height: 4px
				background: $azure 
				display: none
	.links__order
		float: right
		margin: 13px 0 0 20px
		display: none

.prod__row
	padding-bottom: 40px
	margin-bottom: 35px
	border-bottom: 1px solid #d8e2ea 
	+clr
.prod__gallery
	float: left
	position: relative
	z-index: 1
.prod__previews
	float: left
	width: 40px
	margin-right: 10px
	font-size: 0
	li
		position: relative
		margin-bottom: 10px
		+tr(opacity .2s)
		+opacity(.5)
		cursor: pointer
		will-change: opacity
		i
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 10
			border: 2px solid $azure
			+tr(opacity .2s)
			will-change: opacity
			+opacity(0)
		&.is-active
			+opacity(1) 
			i
				+opacity(1)
.prod__slider
	float: left
	font-size: 0
	text-align: center
.prod__slider-item
	img
		max-width: 100%
		max-height: 100%
		vertical-align: top
.prod__in
	float: right
	width: 300px
.prod__head
	margin-bottom: 35px
	+clr
.prod__brand
	float: left
.prod__types
	float: right
	font-size: 0
	i
		display: inline-block
		margin-left: 15px 
		opacity: .3 
		vertical-align: middle
		&.is-active
			opacity: 1 
.prod__types-1
	+s(prod-type1)
.prod__types-2
	+s(prod-type2)
.prod__types-3
	+s(prod-type3)

.accord
	.accord__item
		margin-bottom: 5px 
		border: 1px solid #e5f8fe
		+tr(border-color .2s)
		&.is-active
			border-color: #2d3441
			cursor: default
			.accord__head
				background: #2d3441 
				color: #fff 
				&:after
					+rotate(180)
	.accord__head
		position: relative
		padding: 10px 40px 10px 15px
		background: #E5F8FE 
		font-size: 14px
		line-height: 1.7
		cursor: pointer
		+transition(background-color .2s, color .2s)
		&:after
			content: ""
			position: absolute
			top: 50%
			right: 20px 
			margin-top: -3px
			+arr(6,5,#89969f,b)
			+tr(transform .2s)
			will-change: transform
	.accord__in
		display: none
		padding: 20px

.video
	position: relative
	.video__iframe
		font-size: 0
	.video__play
		position: absolute
		top: 50%
		left: 50%
		margin: -32px 0 0 -32px
		+s(play)
		&:hover
			+sp(play-h)
		

.request
	padding: 35px 25px 55px
	margin-bottom: 45px
	border: 1px solid $azure
	border-width: 4px 0
	background: url(../img/request-bg.png) no-repeat 0 100% #E5F8FE 
	.request__fieldset
		+clr
		.field
			float: left 
			width: 200px 
			margin: 0 0 20px 20px
			&:first-child
				margin-left: 0
	.request__message
		float: left
		width: 400px
		margin-left: 20px
		.field
			width: 400px
.field_phone
	.input
		float: left
		width: 140px
		&:first-child
			width: 50px
			margin-right: 10px
.content
	>*
		margin-bottom: 20px 
	ul
		li
			position: relative
			padding-left: 40px
			margin-bottom: 10px
			&:before
				content: ""
				position: absolute
				top: 11px
				left: 0
				width: 23px
				height: 1px
				background: $azure 
	h1, h2, h3, h4, h5, h6
		+sbold
		font-weight: normal 
	h2
		margin-bottom: 25px
	h5
		font-size: 14px
		font-weight: normal
	tr
		&:nth-child(2n)
			td
				background: #F3F8F9 
	td
		padding: 10px 20px 
		border-bottom: 1px solid #e8eff5
	img
		&[align="left"]
			float: left
			margin: 0 20px 20px 0
	b, strong
		+sbold
		font-size: 14px
		font-weight: normal 

.article
	padding: 40px 82px 103px
	.date
		margin-bottom: 11px
	a
		color: $azure 
		+tr(color .4s)
		&:hover
			color: $azure_h 
	h1,h2,h3,h4,h5,h6
		font-weight: normal
	h1
		margin-bottom: 20px
	h2
		margin: 40px 0 30px
	h6
		margin-bottom: 10px
		font-size: 14px
	p
		margin: 0 0 10px 
	img
		&[align="left"]
			margin: 8px 34px 20px 0 
		&[align="right"]
			margin: 8px 0 20px 34px
	blockquote
		background: $blue 
		padding: 35px 35px 30px 35px
		text-align: center
		margin: 44px 0 35px
		text-transform: uppercase
	hr
		margin: 26px 0 
		border: 0
		height: 1px
		clear: both
		background: $border  
	ul
		font-size: 0
		li
			position: relative
			display: inline-block
			vertical-align: top
			margin: 0 0 6px 
			padding: 0 20px 0 68px
			width: 49.9%
			font-size: 12px
			+box
			&:before
				content: ""
				position: absolute
				top: 11px
				left: 25px
				height: 1px
				width: 23px
				background: #1dbed4
	//NUMBERED LIST
	ol
		+column-count(2)
		+column-width(340px)
		counter-reset: list1
		padding: 14px 16px 0 20px
		li
			position: relative
			display: inline-block
			vertical-align: top
			margin: 0 0 17px 
			padding: 5px 20px 0 68px
			+box
			&:before
				counter-increment: list1 
				content: counter(list1)
				position: absolute
				top: 0
				left: 19px
				height: 32px
				width: 32px
				text-align: center
				line-height: 32px
				+box
				font-size: 14px
				color: $text 
				border-radius: 50% 
				border: 1px solid $azure
	table
		th
			padding-bottom: 6px
			font-weight: normal
			+sbold
			font-size: 14px
			text-align: left
		td
			text-align: left
			padding: 0 30px 0 0
				
	.video
		margin-bottom: 42px
.gallery
	padding-top: 10px
	font-size: 0
	margin-right: -20px
	a
		display: inline-block
		position: relative
		margin: 0 15px 15px 0
		vertical-align: middle
		&:hover
			&:after
				opacity: 1
				visibility: visible
		&:after
			content: "" 
			opacity: 0
			visibility: hidden 
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			border: 2px solid $azure
			background: rgba($azure, .4)
			+tr(opacity .4s)
			will-change: opacity 
		img
			display: block

.review
	position: relative
	margin: 0 0 30px 
	padding-left: 68px
	&:before
		content: ""
		position: absolute
		left: 24px
		top: 3px
		+s(quote) 
	&__meta
		font-size: 12px
		color: #b4b4b4
		img
			vertical-align: middle
			margin-right: 7px
	+ .link-back
		margin-top: 52px
 
.page-action
	position: absolute
	right: -38px
	top: 47px
	padding: 11px 0 2px 
	width: 38px
	background: #fff 
	+gh(#eaeaec, #fff 20%)
	text-align: center
	&.is-fixed
		position: fixed
		top: 0
		left: 50%
		margin-left: 487px
	&.has-top-margin
		margin-top: 60px
		
	a
		display: block
		margin-bottom: 2px