.main
	background: #fff
	margin-bottom: 30px
	+clr
	&__right-col
		float: right
		width: 691px
		padding: 0 36px 0 38px
		.main__head,
		.main__footer
			padding-left: 0
			padding-right: 0
			border: 0
	&__head
		margin-bottom: -1px
		border-bottom: 1px solid $border
		padding: 39px 37px 42px 82px
		font-size: 14px
		line-height: 1.7
		+clr
		.wrap
			clear: both
			padding-top: 21px
		p
			margin-bottom: 11px
	&__title
		float: left
		max-width: 67%
	&__set
		float: right
		width: 211px
		.select
			margin-top: 6px
		.btn
			float: right
	&__body
		+clr
		.wrapper
			font-size: 0
		.item
			&:nth-child(3n)
				border-right: 0
		.item_small,
		.item_smaller,
		.item_extend
			&:nth-child(3n)
				border-right: 1px solid $border
		h2
			margin-bottom: 18px
		p
			margin-bottom: 11px
		
		.link-more
			margin-bottom: 22px
	&__item
		margin-bottom: 30px
		border-bottom: 1px solid $border 
		padding-bottom: 20px
		&:last-child
			border: 0
	&__footer
		border-top: 1px solid $border
		padding: 52px 35px 57px 82px
		line-height: 24px
		p
			margin-bottom: 11px
			&:first-child
				font-size: 14px
		.link-back
			margin-top: 34px
	&__footer_mod
		padding-top: 20px

.sidebar
	float: left
	position: relative
	margin: 25px 0 0 -22px
	padding: 15px 0 
	width: 232px
	font-size: 13px
	background: $text 
	&:after
		content: ""
		position: absolute
		left: 0
		bottom: -14px
		+arr(22,14,#000,tr)
	&:before
		content: "" 
		position: absolute
		top: 0
		right: 0 
		width: 232px
		height: 294px
		background: url(../img/sidebar-bg.png) 100% 0 no-repeat 
	li
		&.is-active
			background: #244f63 
			a
				background: $azure
				&:hover
					color: #fff
			ul
				display: block
				a
					background: none 
				li
					a
						&:hover
							color: $azure 
					ul
						display: none
					&.is-active
						a
							background: rgba(#1dbdd3,.5)
							&:hover
								color: #fff
						ul
							display: block
							li
								background: none
							a
								padding-left: 54px
								background: none
								color: #a4c1ce
								&:hover
									color: #fff 
		li
			a
				&.is-current
					background: rgba($azure, .5) 
					&:hover
						color: #fff !important 
			li
				a
					&.is-current
						&:before
							left: 25px
					
	a
		display: block
		position: relative
		z-index: 2
		padding: 13px 33px 
		line-height: 1.5
		+reg
		color: #fff
		+tr(color .2s)
		&:hover
			color: $azure 
		&.is-current
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 15px
				margin-top: -2px
				width: 5px
				height: 5px
				background: #fff
				border-radius: 50%   
	ul
		font-size: 12px
		display: none 
.sidebar_simple
	&:before
		display: none